# Redis is an interim measure to store validator IP addresses
# so they can find each other. Set it up via https://upstash.com/
# We will store validator information onchain in the next
# DLP smart contract upgrade
REDIS_HOST=<your-upstash-db>.upstash.io
REDIS_PORT=11111
REDIS_PASSWORD=<your-upstash-pw>
REDIS_PERSONAL_NS=<your-name>

# The network to use, currently Vana Satori testnet
OD_CHAIN_NETWORK=satori
OD_CHAIN_NETWORK_ENDPOINT=http://rpc.satori.vana.org

# Optional: OpenAI API key for additional data quality check
OPENAI_API_KEY="sk-nXXXXX"

# Optional: Your own DLP smart contract address once deployed to the network, useful for local testing
DLP_CONTRACT_ADDRESS=0xD6521e33cCB8319253db62c3a9FaA51338dF153E
DLP_MOKSHA_CONTRACT=0xee4e3Fd107BE4097718B8aACFA3a8d2d9349C9a5
DLP_SATORI_CONTRACT=0xa0519f5ADc4e82729b21Ef1586d397260D9B9E45

# Optional: Your own DLP token contract address once deployed to the network, useful for local testing
DLP_TOKEN_VANA_CONTRACT=0x3db29b7ED68Ca561794039B4D675f68fb64D6ac3
DLP_TOKEN_MOKSHA_CONTRACT=0xF1925473bA6aa147EeB2529197C2704454D66b43
DLP_TOKEN_SAOTRI_CONTRACT=0x3db29b7ED68Ca561794039B4D675f68fb64D6ac3

# The private key for the DLP, contact the DLP owner to retrieve this value
PRIVATE_FILE_ENCRYPTION_PUBLIC_KEY_BASE64=XXXXX
